<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Board.Data.Properties.Settings.BoardConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Board;Persist Security Info=True;User ID=sa;Password=j5656j;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>