<div id="dia_ret" class="ui_dialog fn-none" title="文档">
	<div class="form">
	
	</div>
	<a class="fn-none donet">提交</a>
</div>

<div id="dia_exchline" class="ui_dialog fn-none" title="整行调换">
	<div class="form">
	
	</div>
	<a class="fn-none donet">提交</a>
</div>

<style type="text/css">
#dia_ret p{line-height:32px;font-size:14px;text-align:left;}
#dia_ret input.text{width:300px;}
#dia_ret label{display:inline-block;zoom:1;*display:inline;position:relative;width:80px;text-align:right;margin-right:10px;}
</style>